
DesktopAplication/out/
DesktopAplication/deployLauncher.bat
DesktopAplication/gitGui.bat
DesktopAplication/.vs
DesktopAplication/QtPaths.json

DesktopAplication/conan.lock
DesktopAplication/conanbuildinfo.cmake
DesktopAplication/conaninfo.txt
DesktopAplication/conanbuildinfo.txt

Pather/out/
Pather/deployLauncher.bat
Pather/gitGui.bat
Pather/.vs
Pather/QtPaths.json

Pather/conan.lock
Pather/conanbuildinfo.cmake
Pather/conaninfo.txt
Pather/conanbuildinfo.txt

ServerCode/bin
ServerCode/obj
ServerCode/.vs
gitGui.bat
