
LaunchBox/out/
LaunchBox/deployLauncher.bat
LaunchBox/gitGui.bat
LaunchBox/.vs
LaunchBox/QtPaths.json

LaunchBox/conan.lock
LaunchBox/conanbuildinfo.cmake
LaunchBox/conaninfo.txt
LaunchBox/conanbuildinfo.txt

Patcher/out/
Patcher/deployLauncher.bat
Patcher/gitGui.bat
Patcher/.vs
Patcher/QtPaths.json

Patcher/conan.lock
Patcher/conanbuildinfo.cmake
Patcher/conaninfo.txt
Patcher/conanbuildinfo.txt

ServerCode/bin
ServerCode/obj
ServerCode/.vs
gitGui.bat
